@import '../../common/styles/sass/variables';

.projectsBlock {
  background-color: $bgColor;

  .projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 75px;
      @media screen and (max-width: 700px) {
        justify-content: center;
      }
    }
  }
}
