
.footer {
    height: 80px;
    background-color: #fff;
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: "Roboto",sans-serif;
    color: #333;
    font-weight: 500;
    line-height: 40px;
    font-size: 14px;
}

.rightText {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: #333;
    font-size: 14px;
    margin-left: 50px;
}

.footerNav {
    /*border: 1px solid;*/
    width: 250px;
    margin-right: 50px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
    /*width: 30px;*/
    /*height: 30px;*/
    /*background-color: deeppink;*/
    cursor: pointer;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}