.welcomeBlock {
    min-height: 70vh;
    /*background-color: red;*/
    background-image: url("../assets/image/6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    justify-content: center;
}

.textContainer {
    text-align: center;

    font-family: "Roboto", sans-serif;
    color: #fff;
}

.firstTitle {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
}

.secondTitle {
    width: 100%;

    margin-bottom: 50px;
    font-size: 45px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;

}

.button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 1px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: .3s;

    display: inline-block;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;

    text-decoration: none;
}

.button:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c6ff, #0072ff);;
    border: 2px solid #109af7;
    border-radius: 1px;
}
