@import '../common/styles/sass/variables';

.projectsBlock {
  /*min-height: 100vh;*/
  background-color: $bgColor;

  .projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      //border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 75px;
      @media screen and (max-width: 700px) {
        justify-content: center;
      }
    }
  }
}



/*.projectsBlock {*/
/*  !*min-height: 100vh;*!*/
/*  background-color: #f4f4f4;*/
/*}*/

/*.projectsContainer {*/
/*  align-items: center;*/
/*  flex-direction: column;*/
/*  justify-content: flex-start;*/
/*}*/

/*.projects {*/
/*  border: 1px solid;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  flex-wrap: wrap;*/
/*  align-items: flex-start;*/
/*}*/

/*@media screen and (max-width: 700px) {*/
/*  .projects {*/
/*    justify-content: center;*/
/*  }*/
/*}*/